h1 {
    color: red;
    margin-right : 5%;
    margin-left : 1%;
}

h1.home {
    display: inline;
}
a.home {
    display: inline;
}
h1.tire {
    display: inline;
}
a.tire {
    display: inline;
}
h1.appointment{
    display: inline;
}
a.appointment{
    display: inline;
}
td, th{
    border: 1px solid black;
    padding: 8px;
}
hr{
    border: 2px solid black;
    color: black;
}